@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

:root {
  --lg: linear-gradient(
    180deg,
    rgba(226, 222, 223, 0.2),
    rgba(197, 192, 193, 0.4),
    rgba(190, 169, 177, 0.8)
  );
  --lg2: linear-gradient(
    180deg,
    rgba(124, 132, 71, 0.2),
    rgba(169, 158, 84, 0.4),
    rgba(226, 220, 171, 0.8)
  );
  /* green pallet */
  /* --table-thead-color: rgba(96, 83, 83, 0.5); */
  --table-thead-color: rgba(124, 132, 71, 0.5);
  --table-tr-odd: rgba(226, 220, 171, 0.5);
  --table-tr-even: rgba(169, 158, 84, 0.5);
  --darkgreen-color: rgb(56, 59, 33);
  --formdivision-color: rgba(29, 52, 31, 1);
  /* --link-color: rgba(226,132, 10, 1); */
  --link-color: rgba(183,93, 4, 1);
  /* silver pallet */
  --lg3: linear-gradient(
    180deg,
    rgba(168, 168, 157, 0.1), 
    rgba(183, 183, 177, 0.4),
    rgba(200, 200, 194, 0.6),
    rgba(221, 219, 208, 0.9)
  );
  --table-thead-color3: rgba(168, 168, 157, 0.4);
  --table-tr-odd3: rgba(105, 105, 105, 0.4);
  --table-tr-even3: rgba(200, 200, 194, 0.3);
  --darkgreen-color3: rgb(43, 33, 59);
  --formdivision-color3: rgba(84, 85, 84, 1);
  /* --link-color3: rgb(76, 4, 183); */
  --button-background3: rgba(76, 4, 183, .8); 
  --link-color3: rgb(82, 6, 233);
  --white3: rgb(235, 235, 230);
  --black3: rgb(84, 84, 84);
  --hover: #7c0a10;
  --purple-contrast3: rgb(95,82,134);
  --table-novice: rgb(68, 146, 120);
  --table-intermediate: rgb(69, 38, 225);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body {
  font-family: "Open Sans", sans-serif;
  color: #222;
  padding-bottom: 20px;
  position: relative;
}
hr {
  height: 10px;
  border-top: 1px solid rgb(31, 49, 24);
}
.logo img {
  border-radius: 50%;
}
.container {
  max-width: 100vw;
  margin-left: 1%;
  margin-right: 1%;

}
.container-section {
  max-width: 100vw;
  background-image: var(--lg3);

}

.nav {
 
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.nav .container {
  /*display: flex; */
  width: 95%;
  display: block;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: left;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
  background-color: rgba(13, 11, 11, 0.5);
    /* background-color: rgba(190, 197, 186, 0.5); */
  border-radius: 5px;
  max-width: 100%;
}
.nav .container ul {
  display: flex;
  list-style-type: none;
  align-items: left;
  justify-content: space-between;
}
.nav .container ul li {
  display: inline-block;
  position: relative;
}
.nav .container ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  border-radius: 5px;
  background: var(--table-tr-odd3);
  color: var(--black3);
}

.nav .container ul li:hover > ul,
.nav .container ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 200px;
  text-align: left;
  padding-top: 20px;
  color: var(--black3);
  box-shadow: 0px 3px 5px -1px #ccc;
}

.nav .container ul > li > ul > li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

.nav .container ul > li > ul > li a:hover {
  padding-left: 10px;
  border-left: 2px solid #3ca0e7;
  transition: all 0.3s ease;
}
.nav a {
  text-decoration: none;
  color: var(--white3);
  font-weight: bold;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}
.nav.active {
  background-color: var(--white3);
}
.nav.active a {
  color: #000;
}
.nav.active .container {
  padding: 10px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.nav a.current,
.nav a:hover {
  color: var(--hover);
  font-weight: bold;
}
.whiteI {
  color: white;
  background-color: var(--white3);
}
.hero {
  /*background-image: url("../img/moonrise\ opaque.jpg"); */
  /*background-image: url("../img/morning1.jpg");  */
  /*background-image: url("../img/halfmoonCrop.jpg"); */
  /* background-image: url("../img/monsoon_small.jpg"); */
  /* background-image: url("../img/Spring_small.jpg"); */
  /* background-image: url("../img/painterly\ flowers.jpg");  */
  /* background-image: url("../img/background\ collage.jpg");   */
  /* background-image: url("../img/springback2.jpg");   */
   /* background-image: url("../img/bluecollage1920.jpg");   */
   /* background-image: url("../img/decembercollage8.jpg");  */
  background-image: url("../img/bw.jpg");  
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  z-index: -2;
  animation-duration: 30s;
  animation: change 40s infinite ease-in-out;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.hero h1 {
  font-size: 46px;
  margin: 2% 0 20px;
  color: var(--white3);
}
.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}
@keyframes change{
  0%
  {
      background-image: url("../img/carousel1.jpg");
  }
  5%
  {
      background-image: url("../img/carousel11.jpg");
  }
  10%
  {
      background-image: url("../img/carousel6.jpg");
  }
  20%
  {
      background-image: url("../img/carousel2.jpg");
  }
  30%
  {
      background-image: url("../img/carousel7.jpg");
  }
  40%
  {
      background-image: url("../img/bw.jpg");
  }
  50%
  {
      background-image: url("../img/carousel8.jpg");
  }
  60%
  {
      background-image: url("../img/carousel3.jpg");
  }
  65%
  {
      background-image: url("../img/carousel12.jpg");
  }
  70%
  {
      background-image: url("../img/carousel9.jpg");
  }
  80%
  {
      background-image: url("../img/carousel4.jpg");
  }
  90%
  {
      background-image: url("../img/carousel10.jpg");
  }
  100%
  {
      background-image: url("../img/carousel5.jpg");
  }
}
.content-left {
  margin: 10px 10px;
  text-align: center;
  /* color: darkviolet; */
  color: var(--darkgreen-color);
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 236, 236);
  border-radius: 5px;
  border: 2px solid var(--black3);
}
.content-faq {
  margin: 10px 10px;
  gap: 2px;
  text-align: center;
  /* color: darkviolet; */
  color: var(--darkgreen-color);
  align-items: left;
  border-radius: 8px;
  justify-content: left;
  background-color: rgb(241, 236, 236);
  padding-bottom: 100px;

}
.faq-title {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  text-decoration: underline;
}
.motto-font {
  font-family: "Dancing Script", cursive;
  color: rgb(202, 86, 86);
  margin-bottom: 20px;
  border-radius: 5px;
}
.motto-img {
  width: 400px;
  margin-bottom: 20px;
}
.motto-img2 {
  width: 100px;

  border-radius: 15px;
  /* opacity: 1; */
}
.profile {
  background-image: var(--lg3);
}
.blink_me {
  animation: blinker 10s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.menu-blink {
  
  font-weight: bold;
  font-size: medium;
  animation: blinker 1s linear infinite;
  color: red;
}
.error {
  font-weight: bold;
  font-size: medium;
  text-align: center;
  color: red;
}
.container-error {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 80%;
  border-radius: 5px;
  list-style: none;
  margin: 30px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}
.list-box {
  text-align: left;
  align-items: left;
  justify-content: left;

  width: 80%;
  border-radius: 5px;
  list-style: none;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}
.list-box.li-left li {
  list-style: none;
  text-align: left;
  padding: 5px 5px;
}
.small-p {
  line-height: normal;
  color:#222;
  font-size: small;
}
.content {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 2px;
  margin-top: 2px;
  text-align: center;
  overflow-x: auto;
  color: rgb(28, 1, 39);
  align-items: center;
  justify-content: center;
  background-color: rgba(252, 237, 237, 0.2);
}
.content h1,
.content h2,
.content h3 {
  font-size: 150%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(25, 2, 36);
}
.content p {
  color: rgb(41, 39, 39);
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: center;
}
.content a {
  text-decoration: none;
  /* color: blue; */
  color: var(--link-color3);
}

.section-header {
  text-align: center;
  color: rgb(58, 2, 82);
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}
.dropdown {
  padding-top: 10px;
  position: relative;
  display: inline-block;
  text-align: left;
  align-items: left;
  justify-content: left;
  width: 80%;
  padding-bottom: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color:rgb(25, 2, 36);
  /* min-width: 500px; */
  min-width: 75%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  text-align: left;
  align-items: left;
  justify-content: left;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.form-container {
  max-width: 90%;
  width: 90%;
  border: 2px solid rgb(55, 30, 66);
  border-radius: 4px;
  background:  var(--lg3); 
  margin: 5px;
  padding: 2px;
  box-shadow: 2px 2px 2px 1px rgba(33, 24, 37, 0.2);
}
.form-title {
/* color: rgb(42, 7, 58); */
/* color: var(--formdivision-color3); */
color: var(--button-background3);
text-align: center;
font-weight: bolder;
}
.form-division {
  /* color: darkviolet; */
  color: var(--formdivision-color3);
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
  }
.form-item-title {
  /* color: darkviolet; */
  color: var(--formdivision-color3);
  text-align: left;
  font-size: small;
  }
.form-item-title-emp {
  color: red;
  font:bolder
  text-align: left;
  font-size: small;
  }
.form-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  /* grid-auto-rows: minmax(50px, auto); */
  grid-auto-rows: auto;
  margin-top: 1px;
  margin-bottom:  1px;
  justify-content: left; 
  padding: 1px;
}
.form-item {
  text-align: left;
  align-items: left;
  justify-content: left;
  max-width: 100%;
  /* margin-left: 4px;
  margin-right: 4px; */
  padding: 1px 1px;
  /* border: 1px solid rgba(55, 55, 55, .5);
  border-radius: 2px; */
}
[hidden] { display: none; }

.form-group {
  position: relative;
  width: 170px;
}
.form-group svg {
  position: absolute;
  right: 10px;
  top: 2px;
  width: 16px;
  height: auto;
}
.sponsorCard {
  max-width: 100%;
 /* background-color: blanchedalmond; */
 background-color: white;
  padding: 2px 2px;
  align-content: center;
  border: 2px solid rgba(33, 32, 32, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px; 
  margin: 4px; 
}
.sponsorImage {
  width: 100%;

}

.sponsorLogo-Div {
  display: flex;
  justify-content: center;
  background-color: gray;

}
.sponsorLogo-Div h1{
  color: white;
}
.sponsorLogo {
  width: 600px;

}
.flip-card {
  background-color: transparent;
  max-width: 100%;
  max-height: 100%;
  padding: 2px 2px;
  border: 2px solid rgba(33, 32, 32, 1);
  border-radius: 4px; 
  margin: 2px; 
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  max-width: 100%;
  /* width: 100%;
  height: 100%; */
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */
/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: var(--black3);
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  max-width: 100%;
  color: white;
  transform: rotateY(180deg);
}
.cruise {
  width: 500px;
  margin-bottom: 20px;
}
table {
  width: 90%;
  border: 1px solid var(--black3);
  border-collapse: collapse;
  border-radius: 4px;
}

th {
  text-align: left;
  border-collapse: collapse;
}
table,
/* th, */
td {

  border: 1px solid var(--black3);
  text-align: left;
  border-collapse: collapse;

}
th,
td {
  padding: 2px;
}
.table-title {
  color: black;
  font-weight: bolder;
}

tbody tr:nth-child(even) {
  /* background-color: rgba(190, 169, 177, 0.8); */
  background-color: var(--table-tr-even3); 
}
tbody tr:nth-child(odd) {
 
  /* background-color: rgba(252, 237, 237, 0.2); */
  background-color: var(--table-tr-odd3); 

}
thead tr {
  /* background-color: rgba(96, 83, 83, 0.5); */
   background-color: var(--table-thead-color3); 


}
thead th {
  color: var(--button-background3);
}
table {
  width: 90%;
  border-spacing: 5px;
  table-layout: auto;
  align-items: left;
  justify-content: left;
  word-wrap: break-word;
  border-collapse: collapse;
}
.table_small {
  width: 60%;
  border-spacing: 5px;
  table-layout: auto;
  align-items: left;
  justify-content: left;
  word-wrap: break-word;
  border-collapse: collapse;
}
td {
  text-align: left;
}

form {
  align-items: center;
  justify-content: center;
}
input[type="text"] {
  width: 100%;
  max-width: 100%;
  padding: 2px 2px;
  margin: 2px 2px;
  /* border-radius: 2px; */
  box-sizing: border-box;
}
input[type="email"] {
  width: 100%;
  max-width: 100%;
  padding: 2px 2px;
  margin: 2px 2px;
  /* border-radius: 2px; */
  box-sizing: border-box;
}
.table-novice {
  color: var(--table-novice);
  font-weight: bold;
}
.table-intermediate {
  color: var(--table-intermediate);
  font-weight: bold;
}
select {
  width: 100%;
    max-width: 100%;
  padding: 2px 2px;
  margin: 2px 2px;
  /* border-radius: 2px; */

  box-sizing: border-box;
}
input[type="password"] {
  width: 100%;
  max-width: 100%;
  padding: 2px 2px;
  margin: 2px 2px;
  /* border-radius: 2px; */
  box-sizing: border-box;
}
input[type="checkbox"] {

  width: 25px;
  height: 25px;
  padding: 2px 2px;
  margin: 2px 2px;
  /* border-radius: 2px; */
  box-sizing: border-box;
}
input[type="number"] {
  width: 100%;
    max-width: 100%;
  padding: 2px 2px;
  margin: 2px 2px;
  /* border-radius: 2px; */
  box-sizing: border-box;
}
input[type="date"] {
  width: 100%;
    max-width: 100%;
  padding: 2px 2px;
  margin: 2px 2px;
  /* border-radius: 2px; */
  box-sizing: border-box;
}
input[type="tel"] {
  width: 100%;
   max-width: 100%;
  padding: 2px 2px;
  margin: 2px 2px;
  /* border-radius: 2px; */
  box-sizing: border-box;
}
input[type="textbox"] {
  width: 80%;
  max-width: 100%;
  padding: 2px 2px;
  margin: 2px 2px;
  /* border-radius: 2px; */
  box-sizing: border-box;
}
textarea  {
  width: 100%;
  max-width: 100%;
  padding: 2px 2px;
  margin: 2px 2px;
  /* border-radius: 2px; */
  box-sizing: border-box;
}
input[type="text"].text-small {
  width: 50%;
   max-width: 100%;
    padding: 2px 2px;
    margin: 2px 2px;
    /* border-radius: 2px; */
    box-sizing: border-box;

}
input[type="text"].text-large {
  width: 100%;
  max-width: 100%;
    padding: 2px 2px;
    margin: 2px 2px;
    /* border-radius: 2px; */
  box-sizing: border-box;
}
/*  table qualifiers */
td input[type="text"] {
  width: 100%;
  max-width: 100%;
  padding: 4px 4px;
  margin: 4px 4px;
  border-radius: 4px;
  box-sizing: border-box;
}
td input[type="password"] {
width: 100%;
  max-width: 100%%;
  padding: 4px 4px;
  margin: 4px 4px;
  border-radius: 4px;
  box-sizing: border-box;
}
td input[type="checkbox"] {
  width: 20px;
  height: 20px;

  padding: 4px 4px;
  margin: 4px 4px;
  border-radius: 4px;
  box-sizing: border-box;
}
td input[type="number"] {
  width: 100%;
  max-width: 100%;
  padding: 2px 2px;
  margin: 2px 2px;
  border-radius: 2px;
  box-sizing: border-box;
}
td input[type="date"] {
   width: 100%;
   max-width: 100%;
  padding: 2px 2px;
  margin: 2px 2px;
  border-radius: 2px;
  box-sizing: border-box;
}
td input[type="email"] {
  width: 100%;
  max-width: 100%;
  padding: 2px 2px;
  margin: 2px 2px;

  border-radius: 2px;

  box-sizing: border-box;
}

td input[type="textbox"] {
  width: 100%;
    max-width: 100%;
  padding: 4px 4px;
  margin: 4px 4px;
  border-radius: 4px;

  box-sizing: border-box;
}



td input[type="select"] {
  width: 100%;
    max-width: 100%;
  height: 150px;
  margin: 4px 4px;
  padding: 4px 4px;
  border-radius: 4px;

  box-sizing: border-box;
}

.form-grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
  grid-auto-rows: minmax(100px, auto);
  /* border: 1px dashed rgb(91, 2, 129); */
  border-radius: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  justify-content: left;
}
.form-grid-div {
  text-align: left;
  align-items: left;
  justify-content: left;
  margin-left: 5px;
  margin-bottom: 2px;
}
.form-grid-div p {
  text-align: left;
}
.form-grid-div h3 {
  font-size: 75%;
}
.form-grid1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2px;
  grid-auto-rows: minmax(100px, auto);

  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.form-grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  grid-auto-rows: minmax(100px, auto);
  /* border: 1px dashed rgb(91, 2, 129); */

  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: left;
  font-size: 85%;
}
.form-grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  grid-auto-rows: minmax(100px, auto);
  /* border: 1px solid rgb(91, 2, 129);  */
  border-radius: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  justify-content: left;
  font-size: 85%;
}
.form-grid6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1px;
  grid-auto-rows: minmax(100px, auto);
  border-radius: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  justify-content: left;
  font-size: 85%;
}
.form-head-small h3 {
  font-size: 75%;
}

.heading-left {
  text-align: left;
}
.form-left {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  align-items: left;
  justify-content: left;
  text-align: left;
  margin-left: 25px;
  padding: 20px 20px 20px 20px;
}
h2 a:link,
h2 a:visited {
  color: red;
  font-weight: bold;
  font-size: large; 
}
h2 a:hover,
h2 a:active {
  color: rgb(248, 149, 149);
  font-weight: bold;
  font-size: large";
}
button {
  /* background-color: darkviolet; */
  background-color: var(--button-background3);
  width: 50%;
  color: var(--white3);
  margin-top: 5px;
  padding: 12px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
button:link {
  color: var(--white3);
}
.button-small {
  width: 5%;
  border-radius: 50%;
}
.button-small:hover {
  width: 6%;
  border-radius: 50%;
  color: var(--black3);
  background-color: var(--white3);
}

.button-small:link, .button-small:visited {
  width: 5%;
  border-radius: 50%;

  color: var(--white3);
}
.button-small:hover, .button-small:active {
  width: 5%;
  border-radius: 50%;
  color: var(--black3);
  background-color: var(--white3);
}
.button-large {
  width: 50%%;
  
}
.button-large:hover {
  width: 55%;
  color: var(--black3);
  background-color: var(--white3);
}

.button-large:link, .button-large:visited {
  width: 50%;

  color: var(--white3);
}
.button-large:hover, .button-large:active {
  width: 50%;
  color: var(--black3);
  background-color: var(--white3);
}
button:link,
button:visited {
  /* background-color: darkviolet; */
  background-color: var(--button-background3);
  width: 50%;
  color: var(--white3);
  margin-top: 5px;
  padding: 12px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
button:hover,
button:active {
  background-color: var(--white3);
  width: 50%;
  color: var(--black3);
  margin-top: 5px;
  padding: 12px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: normal;
  cursor: pointer;
}
button a:link,
button a:visited {
  /* color: var(--darkgreen-color); */
  color: var(--white3);

}
button a:hover,
button a:active {
  /* color: darkviolet; */
  color: var(--button-background3);
  color: var(--black3);
}
.li-large2 {
  font-size: larger;
  color: var(--darkgreen-color3);

}
.li-none {
  list-style: none;
}
.li-large {
  font-size: medium;
  /* color: darkslateblue; */
  color: var(--darkgreen-color3);
  font-style: italic;
}
.li-none a {
  text-decoration: none;
  /* color: blue; */
  color: var(--link-color3);
}
.select {
  width: 80%;
  min-width: 15ch;
  max-width: 30ch;
  /* border: 1px solid darkslateblue; */
  border: 1px solid var(--darkgreen-color3); 
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 150%;
  cursor: pointer;
  line-height: 1.5;
  background-color: var(--white3);
}
.section {
  background-color: rgb(43, 32, 43);
  text-align: center;
  color: var(--white3);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
}
.footer-section {
  background-color: rgb(43, 32, 43);
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
}
.footer-section a.link,
.footer-section a:visited {
  color: var(--white3);

}
.footer-section a.current,
.footer-section a:hover {
  color: #7c0a10;
  font-weight: bold;
}
.footer-section p {
  color: var(--white3);
}
iframe {
  border: solid 1px #777;
  width: 1200px;
  height: 800px;
  border: none;
}

@media screen and (max-width: 1930px) {
  body {
    font-size: 100%;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    max-width: 100vw;
  }
  .container {
    margin-left: 1%;
    margin-right: 1%;
    max-width: 100vw;
  }
  .container-section {
    max-width: 100vw;
    background-image: var(--lg3);

  }
 
  .hero {
    /*background-image: url("../img/moonrise\ opaque.jpg"); */
    /*background-image: url("../img/morning1.jpg"); */
    /*background-image: url("../img/halfmoonCrop.jpg"); */
    /* background-image: url("../img/monsoon.jpg"); */
    /* background-image: url("../img/background\ collage.jpg");  */
    /* background-image: url("../img/springback2.jpg");   */
     /* background-image: url("../img/bluecollage1920.jpg");   */
       /* background-image: url("../img/decembercollage8.jpg");   */
      background-image: url("../img/bw.jpg");   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    color: var(--white3);
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
    z-index: -2;
  }
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
  .hero h1 {
    font-size: 35px;
    margin: 35px 0 20px;
    text-align: left;
  }
  .hero p {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: left;
  }
  .li-large {
    font-size: 100%;
    /* color: darkslateblue; */
    color: var(--darkgreen-color3);
    font-style: italic;
  }
  .form-grid1 {
    justify-content: left;
    align-items: left;
  }
  .sponsorLogo-Div {
    justify-content: left;
  }
  .sponsorLogo {
    width: 500px;
   
  }
 
  .form-grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: left;
  }

  .form-grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    grid-auto-rows: minmax(100px, auto);
    border-radius: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    justify-content: left;
    font-size: 75%;
  }
  .form-grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(100px, auto);
    border-radius: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    justify-content: left;
    font-size: 75%;
  }
  .form-grid6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(100px, auto);
    border-radius: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    justify-content: left;
    font-size: 75%;
  }
  .form-grid-div {
    text-align: left;
    align-items: left;
    justify-content: left;
    margin-left: 5px;
    margin-bottom: 2px;
    font-size: 100%;
  }

  button:link,
  button:visited {
    /* background-color: darkviolet; */
    background-color: var(--button-background3);
    width: 50%;
    color: var(--white3);
    margin-top: 5px;
    padding: 8px 15px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  button:hover,
  button:active {
    background-color: var(--white3);
    width: 50%;
    color: var(--black3);
    margin-top: 5px;
    padding: 8px 15px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  input[type="email"] {
     max-width: 100%;
    padding: 1px 1px;
    margin: 1px 1px;
    box-sizing: border-box;
  }
  input[type="textbox"] {
      max-width: 100%;
    padding: 2px 2px;
    margin: 2px 2px;
    box-sizing: border-box;
  }
    input[type="text"] {
      max-width: 100%;
    padding: 2px 2px;
    margin: 2px 2px;
    box-sizing: border-box;
  }
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    padding: 2px 2px;
    margin: 2px 2px;
  }
  table {
    width: 90%;
    border-spacing: 3px;
    table-layout: auto;
    align-items: left;
    justify-content: left;
    border-collapse: collapse;
  }
  th {
    font-size: 80%;
    text-align: left;
    border-collapse: collapse;
  }
  table,
 
  td {
    border: 1px solid var(--black3);
    font-size: 80%;
    text-align: left;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 2px;
    font-size: 100%;
  }
  form {
    align-items: left;
    justify-content: left;
  }
  .content p {
    color: rgb(41, 39, 39);
    line-height: 35px;
    letter-spacing: 1.1px;
  }

  .section-header {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(58, 2, 82);
    padding-top: 50px;
  }

  .nav .container {
    align-items: left;
    padding: 5px 0;
  }
  .nav ul {
    align-items: space-between;
    justify-content: space-between;
  }
  .nav a {
    padding: 5px 5px;
  }

  .nav.active .container {
    padding: 4px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .motto-img {
    margin-top: 100px;
    width: 300px;
    margin-bottom: 5px;
    margin-left: 200px;
  }
  .motto-img2 {
    margin-top: 300px;
    width: 75px;
    margin-bottom: 5px;
    margin-left: 300px;
    opacity: 0.3;
  }
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 90%;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    align-items: center;
    justify-content: center;
    text-align: center;

    max-width: 100vw;
  }
  .nav .container {
    align-items: center;
    justify-content: space-between;
    align-items: left;
    padding: 5px 0;
    text-align: left;
    max-width: 100vw;
  }
  .nav ul {
    align-items: space-between;
    justify-content: space-between;
  }
  .nav a {
    padding: 5px 5px;
  }

  .nav.active .container {
    padding: 4px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .container {
    margin-left: 2px;
    margin-right: 2px;
    align-items: left;
    justify-content: left;
    text-align: left;
    max-width: 100vw;
  }
  .container-section {
    max-width: 100vw;
  }

  
  .li-large {
    font-size: 100%;
    /* color: darkslateblue; */
    color: var(--darkgreen-color3);
    font-style: italic;
  }
  .form-grid1 {
    justify-content: left;
    align-items: left;
  }
  .form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    /* grid-auto-rows: minmax(100px, auto); */
    grid-auto-rows: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    justify-content: left; 
  }
  .form-item {
    max-width: 100%;
    text-align: left;
    align-items: left;
    justify-content: left;
    margin-left: 10px;
    border: 1px solid var(--black3);
    border-radius: 2px;
  }

  .form-grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
  }

  .form-grid3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(100px, auto);
    border-radius: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    justify-content: left;
    font-size: 75%;
  }
  .form-grid4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(100px, auto);
    border-radius: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    justify-content: left;
    font-size: 75%;
  }
  .form-grid6 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(100px, auto);
    border-radius: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    justify-content: left;
    font-size: 75%;
  }
  .form-grid-div {
    text-align: left;
    align-items: left;
    justify-content: left;
    margin-left: 5px;
    margin-bottom: 2px;
    font-size: 80%;
  }

  button:link,
  button:visited {
    /* background-color: darkviolet; */
    background-color: var(--button-background3);
    width: 50%;
    color: var(--white3);
    margin-top: 5px;
    padding: 8px 15px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  button:hover,
  button:active {
    background-color: var(--white3);
    width: 50%;
    color: var(--black3);
    margin-top: 5px;
    padding: 8px 15px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  input[type="email"] {
      max-width: 100%;
    padding: 2px 2px;
    margin: 2px 2px;
    box-sizing: border-box;
  }
  input[type="textbox"] {
      max-width: 100%;
    padding: 2px 2px;
    margin: 2px 2px;
    box-sizing: border-box;
  }
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    padding: 1px 1px;
    margin: 1px 1px;
  }
  table {
    width: 80%;
    border-spacing: 3px;
    table-layout: auto;
    align-items: left;
    justify-content: left;
  }
  th {
    font-size: 70%;
    text-align: left;
    border-collapse: collapse;
  }
  table,
  td {
    border: 1px solid var(--black3);
    font-size: 70%;
    text-align: left;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 2px;
    font-size: 100%;
    border-collapse: collapse;
  }
  form {
    align-items: left;
    justify-content: left;
  }
  .content p {
    color: rgb(41, 39, 39);
    line-height: 35px;
    letter-spacing: 1.1px;
  }

  .section-header {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(58, 2, 82);
    padding-top: 50px;
  }

  .hero {
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 5px;
  }
  .hero h1 {
    font-size: 24px;
    margin: 40px 0 0 20px;
  }
  .hero p {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0 0 0 20px;
  }
  .motto-img {

    width: 300px;
    margin-bottom: 5px;
    margin-left: 200px;
  }
  .motto-img2 {
    margin-top: 50px;
    width: 75px;
    margin-bottom: 5px;
    margin-left: 250px;
    opacity: 0.3;
  }
  .cruise {
    width: 400px;
    margin-bottom: 20px;
  }
  iframe {
    border: solid 1px #777;
    width: 800px;
    height: 600px;
    border: none;
  }
}
@media screen and (max-width: 950px) {
  .form-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
    /* grid-auto-rows: minmax(100px, auto); */
    grid-auto-rows: auto;
    margin-top: 1px;
    margin-bottom: 1x;
    justify-content: left; 
  }
  .form-item {
    max-width: 100%;
    text-align: left;
    align-items: left;
    justify-content: left;
    margin-left: 5px;
    border: 1px solid var(--black3);
    border-radius: 2px;
  }
}
@media screen and (max-width: 895px) {
  body {
    font-size: 80%;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    max-width: 100vw;
  }
  .nav .container {
    align-items: left;
    padding: 5px 0;
  }
  .nav ul {
    align-items: left;
    justify-content: left;
  }
  .nav a {
    padding: 5px 5px;
  }

  .nav.active .container {
    padding: 4px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .hero {
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-bottom: 5px;
  }
  .hero h1 {
    font-size: 20px;
    margin: 0 20px 20px 20px;
  }
  .hero p {
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0 0 0 20px;
  }
  .motto-img {
    margin-top: 200px;
    width: 200px;
    margin-bottom: 5px;
    margin-left: 40px;
  }
  .motto-img2 {
    margin-top: 200px;
    width: 50px;
    margin-bottom: 5px;
    margin-left: 100px;
    opacity: 0.3;
  }
  .cruise {
    width: 300px;
    margin-bottom: 20px;
  }
  .container {
    margin-left: 1%;
    margin-right: 1%;
    max-width: 100vw;
  }
  .container-section {
    max-width: 100vw;
  }

  
  .li-large {
    font-size: 90%;
    /* color: darkslateblue; */
    color: var(--darkgreen-color3);
    font-style: italic;
  }
  

  .form-grid2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
  }
  .form-grid1 {
    justify-content: left;
    align-items: left;
  }
  .form-grid3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(100px, auto);
    border-radius: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    justify-content: left;
    font-size: 100%;
  }
  .form-grid4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(100px, auto);
    border-radius: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    justify-content: left;
    font-size: 80%;
  }
  .form-grid6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(100px, auto);
    border-radius: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    justify-content: left;
    font-size: 80%;
  }
  .form-grid-div {
    text-align: left;
    align-items: left;
    justify-content: left;
    margin-left: 5px;
    margin-bottom: 2px;
    font-size: 80%;
  }

  button:link,
  button:visited {

    width: 50%;

    margin-top: 5px;
    padding: 8px 15px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  button:hover,
  button:active {

    width: 50%;
 
    margin-top: 5px;
    padding: 8px 15px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  input[type="email"] {
     max-width: 100%;
    padding: 2px 2px;
    margin: 2px 2px;
    box-sizing: border-box;
    cursor: pointer;
  }
  input[type="textbox"] {
     max-width: 100%;
    padding: 2px 2px;
    margin: 2px 2px;
    box-sizing: border-box;
    cursor: pointer;
  }
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
    padding: 1px 1px;
    margin: 1px 1px;
    font-size: 80%;
    cursor: pointer;
  }

  table {
    width: 90%;
    border-spacing: 2px;
    table-layout: auto;
    align-items: left;
    justify-content: left;
    border-collapse: collapse;
  }
  th {
    font-size: 70%;
    text-align: left;
    border-collapse: collapse;
  }
  table,
  
  td {
    border: 1px solid var(--black3);
    font-size: 70%;
    text-align: left;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 2px;
    font-size: 95%;
  }
  form {
    align-items: left;
    justify-content: left;
  }
  .content p {
    color: rgb(41, 39, 39);
    line-height: 20px;
    letter-spacing: 1.1px;
  }

  .section-header {
    text-align: left;
    align-items: left;
    justify-content: left;
    color: rgb(58, 2, 82);
    padding-top: 50px;
  }

  iframe {
    border: solid 1px #777;
    width: 600px;
    height: 500px;
    border: none;
  }
}
@media screen and (max-width: 735px) {
  body {
    font-size: 75%;
  }
  .nav {
    max-width: 100vw;
  }
  .container {
    max-width: 100vw;
  }
  .container-section {
    max-width: 100vw;
  }

  .hero h1 {
    font-size: 20px;
    margin: 15px 0 0 20px;
  }
     
  .form-item {
    text-align: left;
    align-items: left;
    justify-content: left;
    margin-left: 5px;
    max-width: 100%;
    border-radius: 2px;
  }
}
@media screen and (max-width: 640px) {
  body {
    font-size: 65%;
  }
  .nav {
    max-width: 100vw;
  }
  .container {
    max-width: 100vw;
  }
  .container-section {
    max-width: 100vw;
  }
}
@media screen and (max-width: 620px) {
  iframe {
    border: solid 1px #777;
    width: 500px;
    height: 600px;
    border: none;
  }
}
@media screen and (max-width: 590px) {
  body {
    font-size: 70%;
  }
  .nav {
    max-width: 100vw;
  }
  .container {
    max-width: 100vw;
  }
  .container-section {
    max-width: 100vw;
  }
  .hero h1 {
    font-size: 18px;
    margin: 35px 0 0 20px;
  }
  .motto-img2 {
    margin-top: 100px;
    width: 50px;
    margin-bottom: 5px;
    margin-left: 100px;
    opacity: 0.3;
  }
}
@media screen and (max-width: 490px) {
  body {
    font-size: 65%;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 700;
    transition: all 0.3s ease-in-out;
    max-width: 100vw;
  }

  .container {
    margin-left: 2px;
    margin-right: 2px;

    align-items: left;
    justify-content: left;
    text-align: left;
    max-width: 100vw;
  }
  .container-section {
    max-width: 100vw;
  }
  .content {
    max-width: 100vw;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: left;
    color: rgb(28, 1, 39);
    align-items: left;
    justify-content: left;
    background-color: rgba(252, 237, 237, 0.2);
    /* background-color: rgba(190, 197, 186, 0.9) */
    ;
  }
  table {
    width: 60%;
    border-spacing: 1px;
    table-layout: auto;
    align-items: left;
    justify-content: left;
    border-collapse: collapse;
  }
  th {
    font-size: 70%;
    text-align: left;
    border-collapse: collapse;
  }
  table,
  
  td {
    border: 1px solid var(--black3);
    font-size: 70%;
    text-align: left;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 2px;
    font-size: 80%;
  }
  input[type="email"] {
     max-width: 100%;
    padding: 2px 2px;
    margin: 2px 2px;
    box-sizing: border-box;
    cursor: pointer;
  }
  input[type="textbox"] {
      max-width: 100%;
    padding: 2px 2px;
    margin: 2px 2px;
    box-sizing: border-box;
    cursor: pointer;
  }
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
    padding: 1px 1px;
    margin: 1px 1px;
    font-size: 65%;
    cursor: pointer;
  }
  iframe {
    border: solid 1px #777;
    width: 450px;
    height: 600px;
    border: none;
  }
}
